.AlertsSummary {
    display: flex;
    justify-content: center;
}

.AlertsSummary .alert-button {
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    color: #dd6b20;
    cursor: pointer;
    border: 1px solid #dd6b20;
    border-radius: 5px;
}


.AlertsSummary .alert-button:hover {
    background-color: var(--background-secondary);
}

.AlertsSummary .alert-icon {
    margin-right: 10px;
}
