.NavBar {
    background-color: var(--background-nav);
    color: #fff;
    font-weight: bold;
    padding: 22px 10px 15px 10px;
}

.NavBar .container {
    display: flex;
    justify-content: space-between;
}

.NavBar .container .title a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}


.NavBar .container .title a:visited {
    color: #fff;
}
