.ForecastBar {
    display: flex;
    margin: 40px 0 10px 0;
    font-size: 18px;
}

.ForecastBar .forecast-icon {
    font-size: 30px;
    min-width: 50px;
    text-align: center;
}

.ForecastBar div:not(:first-child) {
    padding-top: 7px;
}

.ForecastBar .day-name {
    min-width: 50px;
    margin-left: 15px;
    margin-right: 40px;
}

@media only screen and (max-width: 340px) {
    .ForecastBar .day-name {
        min-width: 40px;
        margin-left: 5px;
        margin-right: 40px;
    }
}

.ForecastBar div.RangeBlock {
    padding-top: 0;
    flex-grow: 1;
    display: flex;
}

.ForecastBar .RangeBlock .range-bar {
    height: 20px;
    background-color: #333;
    border-radius: 15px;
    position: relative;
}

.ForecastBar .RangeBlock .range-bar .range-bar-prefix {
    position: absolute;
    left: -35px;
}

.ForecastBar .RangeBlock .range-bar .range-bar-suffix {
    position: absolute;
    right: -38px;
}

.ForecastBar .endcap {
    width: 39px;
}
