.App {
    padding-bottom: 80px;
}

p {
    color: #333;
}

.not-loading {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.loading {
    opacity: 0.3;
    transition: opacity 200ms ease-out;
}

@media only screen and (max-width: 600px) {
    .forecast {
        padding: 0 5px;
    }
}
