.App {
    position: relative;
    min-height: 100vh;
}

p {
    color: #333;
}

.not-loading {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.loading {
    opacity: 0.3;
    transition: opacity 200ms ease-out;
}

.app-content {
    padding: 0 5px 80px 5px;
}
