.Footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 60px;
    background-color: #eee;
    color: #333;
    padding: 20px 5px;
}

.Footer .small {
    margin-top: 8px;
    font-size: 12px;
}
