.Extended {
    margin-top: 50px;
}

.Extended .section-title {
    color: #666;
    text-align: center;
    text-transform: uppercase;
}

.Extended .row {
    margin: 40px 0 10px 0;
    display: flex;
    font-size: 18px;
}

.Extended .row div:first-child {
    font-size: 30px;
    min-width: 50px;
    text-align: center;
}

.Extended .row div:nth-child(2) {
    min-width: 50px;
    margin-left: 15px;
    margin-right: 40px;
}

.Extended .row div:not(:first-child) {
    padding-top: 5px;
}

.Extended .row .bar {
    width: 100%;
    height: 20px;
    flex-grow: 1;
    background-color: #333;
    border-radius: 15px;
    position: relative;
}

.Extended .row .bar .bar-prefix {
    position: absolute;
    left: -35px;
}

.Extended .row .bar .bar-suffix {
    position: absolute;
    right: -38px;
}

.ExtendedRow {
    margin: 50px 0;
}

.ExtendedRow div.forecast:first-child {
    cursor: pointer;
}

.ExtendedDetails {
    padding-bottom: 40px;
    border-bottom: 1px solid lightgray;
}

.ExtendedDetails div.summary {
    padding: 10px;
}

.ExtendedDetails div.description {
    color: #333;
    padding: 0 10px 10px 10px;
    font-weight: 10;
}
